.red {
    background: red;
    border: 2px black solid;
}
.blue {
    background: blue;
    border: 2px black solid;
}
.green {
    background: green;
    border: 2px black solid;
}
.vertical-align {
    background: grey;
    height: 12rem;
    border: 2px black solid;
}
.align-items-start {
    background: wheat;
    height: 5rem;
}
.align-items-center {
    background: yellow;
    height: 5rem;
}
.align-items-end {
    background: pink;
    height: 5rem;
}
.backgroundColorGrey {
    background: grey;
    height: 6rem;
    border: 2px goldenrod solid;
}
.cornflowerblue {
    background: cornflowerblue;
}
.onlyBorder {
    border: 1px solid whitesmoke;
}
.smalllBox {
    width: 3rem;
    height: 3rem;
}
.box {
    width: 5rem;
    height: 5rem;
}
.firstTestPhoto {
    height: 7rem;
}
.photography {
    margin-left: 2px;
    height: 7rem; 
}
.imageTest {
    height: 7rem; 
}
.exercise_eleventh {
    height: 7.5rem; 
    border: 1px solid goldenrod;
}